{{ ansible_managed | comment }}
---
### K3s config for flannel on server: https://docs.k3s.io/cli/server
# server
flannel-backend: "vxlan"
# flannel-ipv6-masq: true
# agent
flannel-iface: "{{ k3s.networking.flannel.iface }}"
