{{ ansible_managed | comment }}

network:
  version: 2
  renderer: networkd
  ethernets:
    {{ k3s.network.flannel.iface }}:
      accept-ra: false
      dhcp6: false
      dhcp4: false
      addresses:
        - "{{ _k3s_network_flannel_ipaddress }}/{{  _k3s_network_flannel_ipprefix }}"
