# inspired by:
# - https://oneuptime.com/blog/post/2026-03-20-optimize-longhorn-performance-production/view
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: longhorn-default-resource
  namespace: longhorn-system
data:
  default-resource.yaml: |
    "backup-target": "{{ k3s.storage.longhorn.backup.target }}"
    "backup-target-credential-secret": "longhorn-backup-secret"
    "backupstore-poll-interval": "300"
---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-ingress-secret
  namespace: longhorn-system
type: kubernetes.io/basic-auth
stringData:
  username: {{ vault_k3s.storage.longhorn.dashboard.username }}
  password: {{ vault_k3s.storage.longhorn.dashboard.password }}
