# based on:
# https://community.traefik.io/t/minimal-example-for-traefik-with-dashboard-and-basic-auth/18761
# https://longhorn.io/docs/1.11.1/deploy/accessing-the-ui/longhorn-ingress-traefik/
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: longhorn-ingress-auth
  namespace: longhorn-system
spec:
  basicAuth:
    secret: longhorn-ingress-secret 
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: longhorn-buffering
  namespace: longhorn-system
spec:
  buffering:
    # Allows backing image uploads up to 10,000MB
    maxRequestBodyBytes: 10485760000
---
# kubectl patch svc longhorn-frontend -n longhorn-system -p '{"spec": {"type": "LoadBalancer"}}'
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: longhorn-system
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares:
      longhorn-system-longhorn-ingress-auth@kubernetescrd,
      longhorn-system-longhorn-buffering@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
  - host: {{ k3s.storage.longhorn.dashboard.fqdn }}
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: longhorn-frontend
            port:
              number: 80
