# based on:
# - https://doc.traefik.io/traefik/setup/kubernetes/
# - https://docs.k3s.io/add-ons/helm#customizing-packaged-components-with-helmchartconfig
# - https://github.com/k3s-io/k3s-charts/blob/main/charts/traefik/37.1.1%2Bup37.1.0/values.yaml
# - https://devopsx.com/traefik-ingress-redirect-http-to-https/
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ### Allow cross-namespace usage for the Middleware definitions in namespace "traefik" (https://doc.traefik.io/traefik/reference/routing-configuration/kubernetes/crd/http/middleware/
    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
    ###
    api:
      dashboard: true
    ### Add well-defined ports / entrypoints in "traefik"
    # 80 | web | pre-defined by traefik
    # 443 | websecure | pre-defined by traefik
    # 1883 | mqtt | added
    # 8883 | mqtts | added
    ports:
      mqqt:
        port: 1883
        expose:
          default: true
        exposedPort: 1883
        protocol: TCP
        redirections:
          entryPoint: {}
        forwardedHeaders:
          trustedIPs: []
          insecure: false
        proxyProtocol:
          trustedIPs: []
          insecure: false
      mqqts:
        port: 8883
        expose:
          default: true
        exposedPort: 8883
        protocol: TCP
        redirections:
          entryPoint: {}
        forwardedHeaders:
          trustedIPs: []
          insecure: false
        proxyProtocol:
          trustedIPs: []
          insecure: false
    additionalArguments:
      - "--entryPoints.mqtt.address=:1883/tcp"
      - "--entryPoints.mqtts.address=:8883/tcp"
    ###
    ingressRoute:
      ### Create an IngressRoute for the dashboard
      dashboard:
        enabled: true
        # Custom match rule with host domain
        matchRule: Host(`{{ k3s.ingress.traefik.dashboard.fqdn }}`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
        entryPoints: 
          - websecure
          - web
        # Add custom middlewares : redirection
        middlewares:
          - name: redirect-to-https
            namespace: traefik
      ### Pre-configure typical Middleware definitions in namespace "traefik"
    extraObjects:
      - apiVersion: v1
        kind: Namespace
        metadata:
          name: traefik
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: redirect-to-https
          namespace: traefik
        spec:
          redirectRegex:
            regex: "^http://(.*)"
            replacement: "https://${1}/"
            permanent: true
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: redirect-to-https-staging
          namespace: traefik
        spec:
          redirectRegex:
            regex: "^http://(.*)"
            replacement: "https://${1}/"
            permanent: false
      ### ISSUE: Doesn't work, because of load balancing (source ip is cluster internal lb address)
      # - apiVersion: traefik.io/v1alpha1
      #  kind: Middleware
      #  metadata:
      #    name: traefik-dashboard-ipallowlist
      #    namespace: kube-system
      #  spec:
      #    ipAllowList:
      #      sourceRange:
      #        % for item in k3s.ingress.traefik.dashboard.ipallowlist %
      #        -  item 
      #        % endfor 
