network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      accept-ra: false
      dhcp6: false
      dhcp4: false
      addresses:
        - ${rpi_ip4}
        - "${rpi_ip6}"
      gateway4: ${rpi_ip4_gateway}
      gateway6: "${rpi_ip6_gateway}"
      nameservers:
        search: [${rpi_dns_domain}]
        addresses: [${rpi_ip4_dns}, "${rpi_ip6_dns}"]
