{{ ansible_managed | comment }}

XKBMODEL="{{ os_basic.keyboard.model }}"
XKBLAYOUT="{{ os_basic.keyboard.layout }}"
XKBVARIANT="{{ os_basic.keyboard.variant }}"
XKBOPTIONS="{{ os_basic.keyboard.options }}"
BACKSPACE="{{ os_basic.keyboard.backspace }}"
