{{ ansible_managed | comment }}

network:
  version: 2
  renderer: networkd
  ethernets:
    {{ os_basic.iface }}:
      accept-ra: false
      dhcp6: false
      dhcp4: false
      addresses:
        - '{{ os_basic.ip4.address }}/{{ os_basic.ip4.cidr }}'
        - '{{ os_basic.ip6.address }}/{{ os_basic.ip6.cidr }}'
      routes:
        - to: default
          via: '{{ os_basic.ip4.gateway }}'
        - to: default
          via: '{{ os_basic.ip6.gateway }}'
      nameservers:
        search: {{ os_basic.dns.domains | to_json }}
        addresses: {{ os_basic.dns.servers | to_json }}
  
