{{ ansible_managed | comment }}

XKBMODEL="{{ os_local.keyboard.model }}"
XKBLAYOUT="{{ os_local.keyboard.layout }}"
XKBVARIANT="{{ os_local.keyboard.variant }}"
XKBOPTIONS="{{ os_local.keyboard.options }}"
BACKSPACE="{{ os_local.keyboard.backspace }}"
