{{ ansible_managed | comment }}

network:
  version: 2
  renderer: networkd
  ethernets:
    enp1s0:
      match:
        name: enp1s0
      accept-ra: false
      dhcp6: false
      dhcp4: false
      addresses:
        - '{{ ip4.address }}'
        - '{{ ip6.address }}'
      routes:
        - to: default
          via: '{{ ip4.gateway }}'
        - to: default
          via: '{{ ip6.gateway }}'
      nameservers:
        search: [{{ dns.domain }}]
        addresses: ['{{ dns.ip4 }}', '{{ dns.ip6 }}']
  
