{{ ansible_managed | comment }}

XKBMODEL="{{ all_local.keyboard.model }}"
XKBLAYOUT="{{ all_local.keyboard.layout }}"
XKBVARIANT="{{ all_local.keyboard.variant }}"
XKBOPTIONS="{{ all_local.keyboard.options }}"
BACKSPACE="{{ all_local.keyboard.backspace }}"
