# based on:
# - https://github.com/TwiN/terraform-kubernetes-gatus
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ _k8s_app.namespace | default('gatus') }}"
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: gatus-configmap-config
  namespace: "{{ _k8s_app.namespace | default('gatus') }}"
data:
  config.yaml: |-
    endpoints:
      {{ _k8s_app.endpoints }}
    # endpoints:
    # - name: example
    #  url: https://example.org
    #  interval: 60s
    #  conditions:
    #    - "[STATUS] == 200"
    #    - "[BODY] == pat(*<h1>Example Domain</h1>*)"
