# based on:
# - https://github.com/TwiN/terraform-kubernetes-gatus
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ _k8s_app.namespace | default('gatus') }}"
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: gatus-configmap-config
  namespace: "{{ _k8s_app.namespace | default('gatus') }}"
data:
  config.yaml: |-
    endpoints:
{% for ep in _k8s_app.endpoints %}
      - name: "{{ ep.name }}"
        url: "{{ ep.url }}"
{% if ep.interval is defined %}
        interval: "{{ ep.interval }}"
{% endif %}
        conditions:
{% for cond in ep.conditions %}
          - "{{ cond }}"
{% endfor %}
        alerts:
{% for alert in ep.alerts %}
          - type: "{{ alert.type }}"
            failure-threshold: {{ alert.failure_threshold | default(3) }}
            success-threshold: {{ alert.success_threshold | default(2) }}
            send-on-resolved: "{{ alert.send_on_resolved | default("false") }}"
            description: "{{ alert.description | default("") }}
{% endfor %}
{% endfor %}
    alerting:
{% if _k8s_app.alerting.homeassistant is defined %}
      homeassistant:
        url: "{{ a.url }}"
        token: "{{ vault_k8s_apps.gatus.alerting.homeassistant.token | to_json }}"
{% endif %}
# endpoints:
# - name: description # required
#   url: https://example.org # required
#   interval: 60s 
#   conditions:
#    - "[STATUS] == 200"
#    - "[BODY] == pat(*<h1>Example Domain</h1>*)"
