---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ _k8s_app.namespace | default('home-assistant') }}"
---
# apiVersion: v1
# kind: ConfigMap
# metadata:
#  name: modsecurity-waf-global-settings
#  namespace: "{{ _k8s_app.namespace | default('home-assistant') }}"
#  annotations:
#    reflector.v1.k8s.emberstack.com/reflects: "c4m-general/modsecurity-waf-global-settings"
#    reflector.v1.k8s.emberstack.com/reflected-version: ""
# data:
#
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-waf-webapp-settings
  namespace: "{{ _k8s_app.namespace | default('home-assistant') }}"
data:
  99-webapp-settings.conf: |
    # Globale Engine-Einstellungen
    SecRuleEngine On
    SecRequestBodyAccess On
    SecAuditEngine RelevantOnly
    SecAuditLogType Serial
    SecAuditLogParts ABHIJKZ
    SecAuditLogFormat JSON
    SecAuditLog /dev/stdout
    # Globale Schwellenwerte für OWASP CRS
    SecAction "id:900110,phase:1,nolog,pass,t:none,setvar:tx.inbound_anomaly_score_threshold=5"
    # Home-Assistant Einstellungen
    SecRuleEngine DetectionOnly
    SecDebugLogLevel 9
    # Home Assistant#Onboarding: False-Positive CRS Rule #949110
    # SecRule REQUEST_URI "@beginsWith /api/onboarding/users" "id:1001,phase:2,pass,nolog,ctl:ruleRemoveById=949110"
    # SecRule REQUEST_URI "@beginsWith /auth/login_flow" "id:1002,phase:2,pass,nolog,ctl:ruleRemoveById=949110"
    
---
# inspired by:
# - https://faun.pub/running-your-home-assistant-on-kubernetes-part-ii-60eb46a73c61
kind: ConfigMap
apiVersion: v1
metadata:
  name: home-assistant-configmap-config
  namespace: "{{ _k8s_app.namespace | default('home-assistant') }}"
data:
  configuration.yaml: |-
    # Load default config and integrations
    default_config:
    # Load frontend themes
    frontend:
      themes: !include_dir_merge_named themes
    # Automations created externally and managed by Git
    automation manual: !include_dir_merge_list user/automations/
    # Automations created within the Home Assistant UI
    automation ui: !include automations_ui.yaml
    # Scripts created externally and managed by Git
    script: !include_dir_merge_list user/scripts/
    # Packages created externally and managed by Git
    packages: !include_dir_merge_named user/packages/
    # Sensors created internally and externally and managed by Git
    sensor: !include_dir_merge_list user/sensors/
    # Scenes created internally and externally and managed by Git
    scene: !include_dir_merge_list user/scenes/
    # Zones created internally and externally and managed by Git
    zone: !include user/zones.yaml
    # Recorders managed by ConfigMap only
    recorder: !include recorder.yaml

    ### Enhanced default configuration by home-assistant-on-k3s
    homeassistant:
      # Configure your individual setting
      unit_system: metric
      currency: "{{ _k8s_app.config.currency | default('CHF') }}"
      country: "{{ _k8s_app.config.country | default('CH') }}"
      time_zone: "{{ _k8s_app.config.time_zone | default('Europe/Zurich') }}"
      external_url: "https://{{ _k8s_app.config.fqdn | default('home-assistant.local') }}"
      internal_url: "https://{{ _k8s_app.config.fqdn | default('home-assistant.local') }}"
      language: "de"
      allowlist_external_dirs:
        # Data Housekeeping: https://community.home-assistant.io/t/how-to-keep-your-recorder-database-size-under-control/295795
        - "/config"
      debug: false
    # Web Application Security: Configuration for Web Application Firewall Sidecar
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 127.0.0.1
        - ::1
  recorder.yaml: |-
    # Data Housekeeping: https://community.home-assistant.io/t/how-to-keep-your-recorder-database-size-under-control/295795
    include:
      domains:
        - sensor
        - switch
        - light
        - media_player
    exclude:
      entities:
        - sensor.last_boot
        - sensor.date
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-pv-config
  namespace: "{{ _k8s_app.namespace | default('home-assistant') }}"
  labels:
    app: home-assistant-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _k8s_app.storage.size | default('4Gi') }}"
  storageClassName: "{{ _k8s_app.storage.class_name | default('') }}"
