---
apiVersion: traefik.io/v1alpha1
kind: IngressRouter
metadata:
  name: home-assistant-ingress-local-access
  namespace: "{{ _k8s_app.namespace | default('home-assistant') }}"
spec:
  entryPoints:
    - weblocal
  routes:
  - match: Host(`{{ _k8s_app.local_access.fqdn | default('home-assistant.local') }}`)
    kind: Rule
    services:
    - name: home-assistant-service
      port: 8123
    middlewares:
    - name: local-access-ipallowlist
      namespace: traefik
