---
apiVersion: v1
kind: Namespace
metadata:
  name: c4m-general
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: modsecurity-waf-global-settings
  namespace: c4m-general
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "*"
    reflector.v1.k8s.emberstack.com/touch: "v2025-05-14-01"
data:
  00-global-settings.conf: |
    # Globale Engine-Einstellungen
    SecRuleEngine On
    SecRequestBodyAccess On
    SecAuditEngine RelevantOnly
    SecAuditLogType Serial
    SecAuditLog /var/log/modsecurity_audit.log
    # Globale Schwellenwerte für OWASP CRS
    SecAction "id:900110,phase:1,nolog,pass,t:none,setvar:tx.inbound_anomaly_score_threshold=5"
