# based on:
# - https://blog.quadmeup.com/2025/07/09/mosquitto-in-kubernetes-the-simple-way/
# - https://github.com/abalage/mosquitto-mqtt-k8s
---
apiVersion: v1
kind: Service
metadata:
  name: mosquitto-service
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
  labels:
    app: mosquitto
spec:
  type: LoadBalancer
  ports:
    - port: 1883
      targetPort: 1883
      name: mqtt
    - port: 9001
      targetPort: 9001
      name: websocket
  selector:
    app: mosquitto
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
  labels:
    app: mosquitto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      securityContext:
        fsGroup: 33
      containers:
      - image: "eclipse-mosquitto:{{ _k8s_app.version }}"
        name: mosquitto
        resources:
          requests:
            memory: "64Mi"
            cpu: "10m"
          limits:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 1883
          name: mqtt
        - containerPort: 9001
          name: websocket
        volumeMounts:
        - name: mosquitto-pv
          mountPath: /mosquitto/config
        - name: mosquitto-app-secrets
          mountPath: /mosquitto/config/password_file.conf
          subPath: password_file.conf
        - name: mosquitto-config
          mountPath: /mosquitto/config/mosquitto.conf
          subPath: mosquitto.conf
      volumes:
      - name: mosquitto-persistent-storage
        persistentVolumeClaim:
          claimName: pvc-mosquitto
      - name: mosquitto-password
        configMap:
          name: mosquitto-password
          items:
          - key: "password.txt"
            path: "password.txt"
      - name: mosquitto-config
        configMap:
          name: mosquitto-config
          items:
          - key: "mosquitto.conf"
            path: "mosquitto.conf"
