---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ _k8s_app.namespace | default('mosquitto') }}"
---
# inspired by:
# - https://blog.quadmeup.com/2025/07/09/mosquitto-in-kubernetes-the-simple-way/
# - https://www.datacamp.com/de/tutorial/mosquitto-docker
kind: ConfigMap
apiVersion: v1
metadata:
  name: mosquitto-config
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
data:
  mosquitto.conf: |-
    # Basic listener configuration
    listener 1883
    protocol mqqt
    # mqtts: listener 8883
    # protocol mqqt

    # WebSocket listener
    listener 9001
    protocol websockets
    # https: listener 9002
    # protocol websockets

    # Encryption
    # cafile /mosquitto/config/ca.crt
    # certfile /mosquitto/config/server.crt
    # keyfile /mosquitto/config/server.key
     
    # Authentication
    allow_anonymous false
    password_file /mosquitto/config/password_file.conf

    # Persistence
    persistence false
    # persistence_location /mosquitto/data/
    autosave_interval 300
    persistent_client_expiration 1

    # Logging
    # log_dest file /mosquitto/log/mosquitto.log
    log_dest stdout
    log_timestamp true
    log_type error
    log_type warning
    # debugging: log_type notice
    # debugging: log_type information
    # # debugging: log_type debug
    # debugging: connection_messages true

# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: mosquitto-pv-config
#   namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
#   labels:
#     app: mosquitto-app
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: "{{ _k8s_app.storage.size | default('1Gi') }}"
#   storageClassName: "{{ _k8s_app.storage.class_name | default('') }}"
---
# inspired by:
# - https://shantanoo-desai.github.io/posts/technology/mosquitto_ansible_passgen/
apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-secret-config
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
data:
{% for user in vault_k8s_apps.mosquitto.users %}
  {{ user.username }}:{{ user.password | mosquitto_passwd }}
{% endfor %}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mosquitto-certificate-tls
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
spec:
  secretName: mosquitto-secret-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: "{{ _k8s_app.mqtt.fqdn }}"
  dnsNames:
    - "{{ _k8s_app.mqtt.fqdn }}"
