---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: mosquitto-ingressroute-mqtt
  namespace: 
spec:
  entryPoints:
    - mqtt
  routes:
    - match: HostSNI(`*`)
      services:
        - name: mosquitto-service
          port: 1883
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: mosquitto-ingressroute-mqtts
  namespace: 
spec:
  entryPoints:
    - mqtts
  routes:
    - match: HostSNI(`mqtt.deinedomain.de`) # SNI funktioniert hier dank TLS!
      services:
        - name: mosquitto-service
          port: 1883
  tls:
    secretName: mosquitto-secret-tls
###
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mosquitto-ingress-websocket
  namespace: 
spec:
  rules:
  - host: mqtt.example.com # Ersetzen Sie durch Ihre Domain
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: mosquitto-service
            port:
              number: 9001
