# inspired by:
# - https://gist.github.com/gimiki/628e2ca10f026975f00f34e4d1f4ff23
# - https://github.com/abalage/mosquitto-mqtt-k8s/blob/main/base/service.yml
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: mosquitto-ingressroute-mqtt
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
spec:
  entryPoints:
    - mqtt
  routes:
    - match: HostSNI(`*`)
      services:
        - name: mosquitto-service
          port: 1883
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: mosquitto-ingressroute-mqtts
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
spec:
  entryPoints:
    - mqtts
  routes:
    # SNI funktioniert nur bei MQTTS
    - match: HostSNI(`{{ _k8s_app.mqtt.fqdn | default('mosquitto.local') }}`)
      services:
        - name: mosquitto-service
          port: 1883
  tls:
    secretName: mosquitto-ingress-secret-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mosquitto-ingress-websocket
  namespace: "{{ _k8s_app.namespace | default('mosquitto') }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  ingressClassName: traefik
  rules:
  - host: "{{ _k8s_app.mqtt.fqdn | default('mosquitto.local') }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: mosquitto-service
            port:
              number: 9001
  tls:
  - hosts:
    - "{{ _k8s_app.mqtt.fqdn | default('mosquitto.local') }}"
    secretName: mosquitto-ingress-secret-tls
