---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ _k8s_app.namespace | default('nginx-php') }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-php-config
  name: "{{ _k8s_app.namespace | default('nginx-php') }}"
data:
  default.conf: |
    server {
        listen 80;
        server_name {{ _k8s_app.fqdn | default('nginx-php.local') }};
        
        # Base directory containing all webapps folder
        root /var/www/html;
        index index.php index.html;

        # Redirect root URL '/' to '/webapp1/'
        location = / {
            return 302 /webapp1/;
        }

        # ----------------------------------------------------
        # Application 1 (Path: /webapp1/)
        # ----------------------------------------------------
        # Handle /webapp1 (without trailing slash) by redirecting to /webapp1/
        location = /webapp1 {
            return 301 /webapp1/;
        }

        location /webapp1/ {
            try_files $uri $uri/ /webapp1/index.php?$query_string;
        }

        # ----------------------------------------------------
        # Application 2 (Path: /webapp2/)
        # ----------------------------------------------------
        # Handle /webapp2 (without trailing slash) by redirecting to /webapp2/
        location = /webapp2 {
            return 301 /webapp2/;
        }

        location /webapp2/ {
            try_files $uri $uri/ /webapp2/index.php?$query_string;
        }

        # ----------------------------------------------------
        # Global PHP Handler for all subpaths
        # ----------------------------------------------------
        location ~ \.php$ {
            # Check that the PHP file exists before passing to PHP-FPM
            try_files $uri =404;

            fastcgi_pass 127.0.0.1:9000;
            fastcgi_index index.php;
            include fastcgi_params;
            
            # Resolves /webappX/index.php -> /var/www/html/webappX/index.php
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
    }

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginx-php-pv-config
  namespace: "{{ _k8s_app.namespace | default('nginx-php') }}"
  labels:
    app: nginx-php-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _k8s_app.storage.size | default('1Gi') }}"
  storageClassName: "{{ _k8s_app.storage.class_name | default('') }}"
