---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-php-ingress
  namespace: "{{ _k8s_app.namespace | default('nginx-php') }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
spec:
  ingressClassName: {{ _k8s_ingress_detected }}
  rules:      
  - host: "{{ _k8s_app.nginx.fqdn | default('nginx-php.local') }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nginx-php-service
            port:
              number: 80
