---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nginx-php-app
  namespace: "{{ _k8s_app.namespace | default('nginx-php') }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-php-app
  template:
    metadata:
      labels:
        app: nginx-php-app
    spec:
      containers:
      # --- PHP Engine ---
      - name: php-fpm
        image: "php:{{ _k8s_app.php.version | default('8.5') }}-fpm-alpine"
        resources:
          requests:
            memory: "64Mi"
          limits:
            memory: "64Mi"
        volumeMounts:
        - name: web-root
          mountPath: /var/www/html
        - name: nginx-php-configmap
          mountPath: /usr/local/etc/php-fpm.d/99-php-fpm.conf
          subPath: 99-php-fpm.conf
      
      # --- Nginx Webserver ---
      - name: nginx
        image: owasp/modsecurity-crs:nginx-alpine
        resources:
          requests:
            memory: "64Mi"
          limits:
            memory: "64Mi"
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: web-root
          mountPath: /var/www/html
        - name: nginx-php-configmap
          mountPath: /etc/nginx/conf.d/99-nginx.conf
          subPath: 99-nginx.conf
        - name: nginx-php-configmap
          mountPath: /etc/modsecurity.d/owasp-crs/rules/99-modsecurity.conf
          subPath: 99-modsecurity.conf
      volumes:
      - name: web-root
        persistentVolumeClaim:
          claimName: nginx-php-pv-wwwdata
      - name: nginx-php-configmap
        configMap:
          name: nginx-php-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-php-service
  namespace: "{{ _k8s_app.namespace | default('nginx-php') }}"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: nginx-php-app
