---
apiVersion: v1
kind: Service
metadata:
  name: zigbee2mqtt-service
  namespace: "{{ _k8s_app.namespace | default('zigbee2mqtt') }}"
spec:
  selector:
    app: zigbee2mqtt
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zigbee2mqtt-app
  namespace: "{{ _k8s_app.namespace | default('zigbee2mqtt') }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zigbee2mqtt
  template:
    metadata:
      labels:
        app: zigbee2mqtt
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - "{{ _k8s_app.serial.attached_to }}"
      containers:
      - name: zigbee2mqtt
        image: koenkk/zigbee2mqtt:{{ _k8s_app.version }}
        securityContext:
          privileged: true
        ports:
          - containerPort: 8080
        volumeMounts:
          - mountPath: /app/data
            name: zigbee2mqtt-pv-data
          - mountPath: /app/data/configuration.yaml
            name: zigbee2mqtt-configmap-config
            subPath: configuration.yaml
          - mountPath: /app/data
            name: zigbee2mqtt-secret-config
          - name: zigbee2mqtt-udev
            mountPath: /run/udev
          - name: zigbee2mqtt-zigbee-stick
            mountPath: {{ _k8s_app.serial.port }}
      volumes:
        - name: zigbee2mqtt-pv-data
          persistentVolumeClaim:
            claimName: zigbee2mqtt-pv-data
        - name: zigbee2mqtt-configmap-config
          configMap:
            name: zigbee2mqtt-configmap-config
            defaultMode: 0600
        - name: zigbee2mqtt-udev
          hostPath:
            path: /run/udev
        - name: zigbee2mqtt-zigbee-stick
          hostPath:
            path: {{ _k8s_app.serial.port }}
        - name: zigbee2mqtt-secret-config
          secret:
            secretName: zigbee2mqtt-secret-config
